.definition1-hidden {
  display: none;
}

.definition2-hidden {
  display: none;
}

.definition3-hidden {
  display: none;
}

.definition4-hidden {
  display: none;
}

.definition5-hidden {
  display: none;
}

.definition6-hidden {
  display: none;
}

.definition7-hidden {
  display: none;
}

.definition8-hidden {
  display: none;
}

.definition9-hidden {
  display: none;
}

.definition10-hidden {
  display: none;
}

.definition11-hidden {
  display: none;
}

.definition12-hidden {
  display: none;
}

.definition13-hidden {
  display: none;
}

.definition14-hidden {
  display: none;
}

.definition15-hidden {
  display: none;
}

.definition16-hidden {
  display: none;
}

.definition17-hidden {
  display: none;
}

.definition18-hidden {
  display: none;
}

.definition19-hidden {
  display: none;
}